{
    "env": {
        "node": true
    },
    "rules": {
        "strict": [ 2, "global" ],
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "quotes": [ 2, "single" ],
        "space-infix-ops": 0,
        "space-unary-ops": 0
    }
}
